<%- include ("../partials/header") %>
<%- include ("../partials/navbar") %>
<div id="main">
    <div class="inner">
        <header>
            <h1>Sign Up<br />
              </header>
              <section>
                <h2>Form</h2>
                <form method="post" action="/signup">
                    <div class="row gtr-uniform">
                        <div class="col-6 col-12-xsmall">
                            <input type="text" name="name" id="name" value="" placeholder="Name"  required/>
                        </div>
                        <div class="col-6 col-12-xsmall">
                            <input type="email" name="email" id="email" value="" placeholder="Email"  required/>
                        </div>
                        <div class="col-6 col-12-xsmall">
                            <input type="number" name="phone" id="phone" value="" placeholder="Phone Number" required/>
                        </div>
                        <div class="col-6 col-12-xsmall">
                            <input type="password" name="password" id="password" value="" placeholder="Password" required/>
                        </div>
                        <div class="col-12">
                            <ul class="actions">
                                <li><input type="submit" value="Submit" class="primary" /></li>
                            </ul>
                        </div>
                    </div>
                </form>
            </section>


    </div>
</div>

<%- include ("../partials/footer") %>