<nav id="menu">
    <h2>Options</h2>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/customer">Customer</a></li>
        <li><a href="/staff">Staff</a></li>
        <li><a href="/cookingstaff">Cooking Staff</a></li>
        <li><a href="/manager/menu">Manager</a></li>
        <li><a href="/cashier">Cashier</a></li>
    </ul>
</nav>