<%- include ("../partials/header") %>
<%- include ("../partials/navbar") %>
<div id="main">
    <div class="inner">
        <header>
            <h1>Get ready to experience mouth watering dishes from around the country!<br />
           </h1>
        </header>
        <section class="tiles">
                <article class="style1">
                <span class="image">
                    <img src="/public/images/pic01.jpg" alt="" />
                </span>
                <a href="/customer">
                    <h2>Place Order</h2>
                    <div class="content">
                        <p>Yummy food awaits you!</p>
                    </div>
                </a>
            </article>
            <article class="style2">
                <span class="image">
                    <img src="/public/images/pic02.jpg" alt="" />
                </span>
                <a href="/customer/invoice">
                    <h2>Get Invoice</h2>
                    <div class="content">
                        <p>₹</p>
                    </div>
                </a>
            </article>
            <article class="style3">
                <span class="image">
                    <img src="/public/images/pic03.jpg" alt="" />
                </span>
                <a href="/login">
                    <h2>Staff</h2>
                    <div class="content">
                        <p>Staff Login</p>
                    </div>
                </a>
            </article>
        </section>
    </div>
</div>

<%- include ("../partials/footer") %>