<%- include ("../partials/header") %>
<%- include ("../partials/navbar") %>
<div id="main">
    <div class="inner">
        <header>
            <h1>Cashier<br />
              </header>
              
            

            <section id="table">
                <h3>Orders</h3>
                <div class="table-wrapper">
                    <table>
                        <thead>
                            <tr>
                                <th>Order No</th>
                                <th>Table No</th>
                                <th>Total Amount</th>
                                <th>Generate Invoice</th>

                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Item One</td>
                                <td>Ante turpis integer aliquet porttitor.</td>
                                <td>29.99</td>
                            </tr>
                            <tr>
                                <td>Item Two</td>
                                <td>Vis ac commodo adipiscing arcu aliquet.</td>
                                <td>19.99</td>
                            </tr>
                            <tr>
                                <td>Item Three</td>
                                <td> Morbi faucibus arcu accumsan lorem.</td>
                                <td>29.99</td>
                            </tr>
                            <tr>
                                <td>Item Four</td>
                                <td>Vitae integer tempus condimentum.</td>
                                <td>19.99</td>
                            </tr>
                            <tr>
                                <td>Item Five</td>
                                <td>Ante turpis integer aliquet porttitor.</td>
                                <td>29.99</td>
                            </tr>
                        </tbody>
                        <tfoot>
                            <tr>
                                <td colspan="2"></td>
                                <td>100.00</td>
                            </tr>
                        </tfoot>
                    </table>
                </div>

                <div class="col-12">
                    <ul class="actions">
                        <li><input type="submit" value="Payment Received" class="primary" /></li>
                    </ul>
                </div>
            </section>



    </div>
</div>

<%- include ("../partials/footer") %>